version: 2
jobs:
  node:
    working_directory: ~/demo-react-native
    docker:
    - image: circleci/node:8
    steps:
    - checkout

    - restore_cache:
        key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}

    - restore_cache:
        key: node-v1-{{ checksum "package.json" }}-{{ arch }}

    - run: yarn install

    - save_cache:
        key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
        paths:
        - ~/.cache/yarn

    - save_cache:
        key: node-v1-{{ checksum "package.json" }}-{{ arch }}
        paths:
        - node_modules

    - persist_to_workspace:
        root: ~/demo-react-native
        paths:
        - node_modules

  android:
    working_directory: ~/demo-react-native/android
    docker:
    - image: circleci/android:api-27-node8-alpha
    steps:
    - checkout:
        path: ~/demo-react-native

    - attach_workspace:
        at: ~/demo-react-native

    - restore_cache:
        key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}

    - run: bundle install

    - save_cache:
        key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}
        paths:
        - vendor/bundle

  ios:
    macos:
      xcode: "9.0"
    working_directory: ~/demo-react-native

    # use a --login shell so our "set Ruby version" command gets picked up for later steps
    shell: /bin/bash --login -o pipefail

    steps:
    - checkout

    - run:
        name: set Ruby version
        command:  echo "ruby-2.4" > ~/.ruby-version

    - restore_cache:
        key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}

    - restore_cache:
        key: node-v1-{{ checksum "package.json" }}-{{ arch }}

    # not using a workspace here as Node and Yarn versions
    # differ between our macOS executor image and the Docker containers above
    - run: yarn install

    - save_cache:
        key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
        paths:
        - ~/.cache/yarn

    - save_cache:
        key: node-v1-{{ checksum "package.json" }}-{{ arch }}
        paths:
        - node_modules

    - restore_cache:
        key: bundle-v1-{{ checksum "ios/Gemfile.lock" }}-{{ arch }}

    - run:
        command: bundle install
        working_directory: ios

    - save_cache:
        key: bundle-v1-{{ checksum "ios/Gemfile.lock" }}-{{ arch }}
        paths:
        - vendor/bundle

workflows:
  version: 2
  node-android-ios:
    jobs:
    - node
    - android:
        requires:
        - node
    - ios:
        requires:
        - node
